# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Build
build/
dist/
*.spec

# Database
worktrack.db
backups/
*.db

# OS
Thumbs.db
desktop.ini

# Logs
*.log

# IDE
.vscode/
.idea/
.cursor/
